*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.wrapper{
    width: 1;
    margin: auto;
    position: relative;
}

.logo img{
float: right;
margin-right: 50px;
margin-top: 20px;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(18, 92, 114);
}

h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(18, 92, 114);
}

.kotak{
    border: 2px black double;
    padding: 10px;
    background-color: white;
    text-align: center;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 20px;
}

.isi{
    margin-top: 30px;
    margin-left: 180px;
}

.kotak2{
    align-items: center;
    border: 2px black solid;
    padding: 20px;
    background-color: white;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 20px;
}

.kotak3{
    align-items: center;
    border: 2px rgb(50, 75, 122) solid;
    padding: 20px;
    background: rgb(50, 75, 122);
    margin-top: 20px;
}